<!-- 
<h1 [ngClass]='{"bg-success" : "IsSuccess","text-white" : "IsDanger"}'>Hello</h1> -->
<!-- <h1 [ngClass]='classArray' >Hello</h1> -->


<!-- ng style -->

<h1 [ngStyle]="{'padding': IsSuccess? '60px':'0px' ,'background':IsSuccess? 'green':'blue'}">Lets learn ng style</h1>

<!-- we ourselve can create directive       :component directive -->

<p appMyDirective>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe inventore enim aut voluptas veritatis! Quae illo tenetur officiis inventore vero doloribus, at modi. Quisquam, amet quidem enim quo maxime officiis?</p>

