
#space{

    margin-left:20px;
    
}
#s1{
    margin-left:123px;
}
#s2{
    margin-left:85px;
}
#s3{
    margin-left:72px;
}
#s4{

    margin-left:50px;
    
}
#s5{

    margin-left:58px;
    
}
#form{
    width:20%;
}
fieldset{
    margin-left:100px;
}
#h4{
    margin-left:250px;
}
#table1{
    
    margin-left: 150px;
}
#h5{
    margin-left: 125px;
}
