<div class="container">
        <div class="col-md-4 offset-md-4 mt-5 card card-body">
            <h4 class="text-center">Please Register ! </h4>
    <fieldset>
        <form action="get" [formGroup]='registerForm' (ngSubmit)='printForm(registerForm)' >
            <div class="form-group">
                <label for="name">FirstName :</label>
                <input type="text" name="name" id="fn" class="form-control" formControlName='name'>
            
        
        <div *ngIf='name.touched && name.invalid'>
                <div class="alert alert-danger" *ngIf="name.errors.minlength">
                        please check
                </div>

        </div>
</div>
        <div class="form-group">
                <label for="email">EmailId :</label>
                <input type="email" name="email" id="email" class="form-control form"formControlName='email' >
                <div *ngIf='email.touched && email.invalid'>
                                <div class="alert alert-danger" *ngIf="email            .errors.minlength">
                                        please check
                                </div>
                                <div class="alert alert-danger"*ngIf='email.errors.noSpace'>
No space accepted
                                </div>
                
            
        </div> </div>
        <div class="form-group">
                <label for="tel">Mobile No:</label>
                <input type="tel" name="tel" id="tel" class="form-control" min=10 max=10 required formControlName='tel'>
                <div *ngIf='tel.touched && tel.invalid'>
                                <div class="alert alert-danger" *ngIf="name.errors.minlength">
                                        please check
                                </div>
            
        </div>  </div>
         
        
       
        <div class="btn btn-group form-control py-0 ">
                <button type="reset" class="btn btn-outline-secondary form-control">Reset</button>
                <button type="submit" class="btn btn-outline-primary form-control" (click)='printForm(registerForm,username)' [disabled]='registerForm.invalid'>Submit</button>

            </div>

        </form>
    </fieldset>
    </div>
    </div>