<div class="col-md-4 offset-md-4 mt-4">
<input type="search" [(ngModel)]='searchName' (keyup)='searchMovies(searchName)'  placeholder="Enter the movie Name...." class='form-control' name="" id="">
</div>

<div class="col-md-3 offset-md-1 float-left " *ngFor="let movie of movieArray">
    
       

        
    <img  width="200" height="200" class="ml-5 mr-5  my-0 py-0"  src="{{movie.Poster}}" alt="No Photo">

    <div class="text-center my-0 py-0" ><b>{{movie.Title}}</b></div>
    
    <div class="text-center my-0 py-0">{{movie.Year}}</div>
    




</div>