
      
<div class="container">
        <button type="button" class="close" aria-label="Close" (click)='cloaeall()'>
                <span aria-hidden="true">&times;</span>
            </button>
        <ul>
                <li *ngFor='let i of users'>{{i.city}}</li>
            </ul>
            <div *ngIf='condition' class="alert alert-success" >You have suvccessfully removed an entry</div>
            <table class="table table-bordered mt-5 table-hover table-border bg-danger text-white">
                <thead class='thead-dark'>
                    <tr *ngIf='condition'>
                        <th>id</th>
                        <th>name</th>
                        <th>city</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor='let j of users'>
                        <td>{{j.id}}</td>
                        <td>{{j.name}}</td>
                        <td>{{j.city}}</td>
                        <td><button class="btn outline-primary bg-success" (click)='removeUser(j)'>Remove</button></td>
                        
                    </tr>
                </tbody>
            </table>
        
            
</div>
